*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

/* ...........................var section.............  */
:root{
    --head-color: #242582;
    --head2-color:#2F2FA2;
    --white:#ffff;
    --test-1:#3FEEE6;
}


/* .................start header section ........................  */

.header-section{
    position: relative;
    width: 100%;
    min-height: 677px;
    background: var(--head2-color);
    display: flex;
    flex-direction: column;

}
nav{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 80%;
    margin: 42px auto 0 auto;
    min-height: 44px;
    /* border: 3px solid red; */
}
.manu-1{
    display: flex;
    align-items: center;
    
   
    

}
.manu-1 a{
    text-decoration: none;
    color: var(--white);
    margin-left: 36px;
    transition: .5s;



}
.manu-1 a:hover{
    transform: scale(1.3);
}



.manu-2{
    display: flex;
    justify-content: flex-end;



}


.manu-2 a{
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 24px;
    height: 44px;
    width: 123px;
    border-radius: 25px;
    color: var(--white);
    transition: .5s;

    



}
.manu-2 a:hover,
.button:hover{
    background: var(--test-1);
    color: #000;
    font-weight: 700;
    border: 3px solid red;
    
}

.manu-2 .login-icon{



}



.box{
    position: relative;
    display: flex;




}

.box>.text-1{
    position: absolute;
    top: 120px;
    left: 156px;
    width: 485px;
    min-height: 230px;



}

   


.box>.text-1>.intro-text{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 27px;
}




.button{
    text-decoration: none;
    padding: 10px 24px;
    margin-top:27px ;
    border-radius: 25px;
    border: 2px solid red;
    background: #E02C6D;
    color: #ffff;


    
}


.box>.cover-pic{
    width: 556px;
    height: 438px;
    position: absolute;
    top: 53px;
    left: 55.8%;


}
.box>.cover-pic:hover{
    transform: scale(1.1) rotate(5deg);
}

.box>.cover-pic>img{
    width: 556px;
    height: 438px;
    position: absolute;


}


/* ....................end the header section...........................  */

/* ................start main section css work........... 
 */
    

main{
    position: relative;
    width: 100%;
    


}
.container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    margin-top: 70px;
    grid-column-gap: 30px;
    margin-left: 75px;



}


.contain{
    display: flex;
    flex-direction: column;
    width: 330px;
    min-height: 474px;
    margin-left: 75px;
    /* border: 2px solid black; */
    position: relative;
    box-shadow:  0 10px 13px #000;
    border-radius: 10px;
    margin-bottom:27px ;
    margin: 0 0 27px;

}

.player-pic img{

    width: 300px;
    min-height: 256px;
    border-radius: 25px;
    margin: 15px 15px;
    transition: .3s;

}
.player-pic img:hover{
    transform: scale(1.09);
}

.text{
    margin: 0 15px;

}

.player-name{
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
   


}
.player-detail{
    
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: rgba(128, 128, 128, 0.808);



}

/* ...........end the 2nd section...........  */
    


/* ........start match review section......... */

.review-match{
    display: flex;
    position: relative;
    width: 100%;
    min-height: 90vh;
   


}

.text-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 466px;
    min-height: 309px;
    position: absolute;
    top: 219px;
    left: 182px;


}
.text-section h2{
    font-size: 48px;
    line-height: 60px;
    color: #000;
    font-weight: 700;

}
/* ........review section > text-section >p css style ............... */

.discribe{
    font-size: 18px;
    font-weight: 400;
    color: grey;


}

.text-section>a{
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 24px;
    height: 44px;
    border-radius: 25px;
    color: var(--white);
    transition: .5s;
}
.text-section>a:hover{
    background: var(--test-1);
    color: #000;
    font-weight: 700;
    border: 3px solid rgba(31, 20, 20, 0.726);

}



.picture-macth{

    width: 567px;
    height: 427px;
    position: absolute;
    top: 160px;
    left: 717px;
    box-shadow: 0 8px 12px  rgba(31, 22, 22, 0.575);
   

    
}

.picture-macth >img{
    width: 567px;
    height: 427px;
    position: absolute;
    position: absolute;
    box-shadow: 0 8px 12px  gray;
    transition: .5s;
       
}
.picture-macth >img:hover{
    transform: rotateZ(-30deg);
}

/* ........end the section............. 




 */
/* ............... start the video section ..............  */
.video-contener{
    width: 100%;
    margin-top: 150px;
   
   

  
}
.main-text{
    font-size: 65px;
    font-weight: 900;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
}


.video-contain{
    width: 80%;
    min-height: 250px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 550px;
    background: rgba(139, 136, 136, 0.472);
    box-shadow: 5px 9px 13px rgba(1, 16, 16, 0.472);
    
   
}

.title{
    text-align: center;
     margin: 0 0 20px 0;
     font-size: 25px;
     color:black;

}

.wining-text{
    margin: 0 15px;
    text-align: justify;
    font-size: 18px;
   
}


/* .................. end the video section...............  */






 /* .................... start the news section..............  */


 .news{
     position: relative;
     width: 90%;
     margin: 30px auto 0 auto;
     height: 100vh;


 }

 .news-title{
     text-align: center;
     font-size: 64px;
     font-weight: 700;
     margin: 50px 0 0 0;
 }


 .new-contaner{
     display: flex;
     justify-content: center;
     
   
     

 }

 .new-contain{
    flex-basis:28% ;
    margin: 80px 20px 0 30px;
    box-shadow: 5px 9px 12px lightslategrey;
    height: 500px;
    overflow: hidden;
    

 }
 .new-contain>img{
     width: 320px;
     min-height: 250px;
     border-radius: 25px;
     padding: 16px;
     

 }


 .new-title{
     margin: 20px 0 0px 16px;
     font-size: 22px;
     font-weight: 600;
     padding: 0 10px;


 }

.news-1{
    margin-bottom: 30px;
    margin: 0 0 30px 16px;
    font-size: 15px;
    font-weight: 400;
    color: lightslategray;

}


.new-contain>a{
    margin-bottom: 30px;
    margin-left: 16px;
}






/* ........start the fotter section.............  */



.footer{
    width: 100%;
    min-height: 231px;
    position: relative;

}
.footer-contaner{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.footer-pic{
    position:absolute;
    margin: 5px auto;
    
}
.footer-pic img{
    margin-top: 158px;
    width: 480px;
    height: 110px;
}


.socal-icon{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 270px;
    width: 170px;
    height: 32px;
    margin-bottom: 20px;
    position: absolute;
    left: 43%;

    

}

 
.icon-style>a{
    margin-left: 12px;
    text-decoration: none;
    color: lightslategrey;
    font-size: 24px;
}

.footer-text{
    font-size: 18px;
    color: rgba(119, 136, 153, 0.76);
    font-weight: 500;
    position: absolute;
    left: 42%;
    top: 310px;
}




/* .................... media query start................ */



/* ...................for mobile divice .....................*/


@media only screen and (min-width:500px) and (max-width:688px) {

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }




    body{
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
    }




    .header-section{
        position: relative;
        width: 100%;
        min-height: 790px;
        background: var(--head2-color);
        display: flex;
        flex-direction: column;
    }



            
    nav{
        display: flex;
        justify-content:flex-start;
        width: 80%;
        margin: 42px auto 0 auto;
        min-height: 44px;
        
    }


    
    .manu-1{
        display: none;
    }



    .manu-2{
        display: flex;
        justify-content: flex-end;
    }


    .manu-2 a{
        text-decoration: none;
        background: #E02C6D;
        padding: 10px 24px;
        height: 44px;
        width: 123px;
        border-radius: 25px;
        color: var(--white);
        transition: .5s;
    }

    


.box{
    position: relative;
    display: flex;
}



.box>.text-1{
    position: absolute;
    top: 50px;
    left: 166px;
    width: 185px;
    min-height: 75px;
    
}

.box>.text-1>.intro-text{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 52px;
    
}


.button{
    text-decoration: none;
    padding: 10px 24px;
    margin-top:7px ;
    border-radius: 25px;
    /* border: 2px solid red; */
    background: #E02C6D;
    color: #ffff;


    
}



.box>.cover-pic{
    width: 280px;
    height: 330px;
    position: absolute;
    top: 325px;
    left: 18.8%;


}









.box>.cover-pic>img{
    width: 280px;
    height: 320px;
    position: absolute;


}
 /* ....................end the header section...........................  */ */

/* ................start main section css work........... 
 */






.container{
    display: grid;
    grid-template-columns:  1fr;
    margin-top: 70px;
    /* grid-column-gap: 30px; */
    margin-left: 100px;



}





.contain{
    display: flex;
    flex-direction: column;
    width: 330px;
    min-height: 474px;

    position: relative;
    box-shadow:  0 10px 13px #000;
    border-radius: 10px;
    margin: 0 0 27px 45px;

}




.player-name{
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
   


}

/* ...........end the 2nd section...........  */
    


/* /* ........start match review section../ */




.review-match{
    display: flex;
    position: relative;
    width: 100%;
    min-height: 90vh;
   


}



.text-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 361px;
    min-height: 357px;
    position: absolute;
    top: 81px;
    left: 137px;
}



.text-section h2{
    font-size: 28px;
    line-height: 30px;
    color: #000;
    font-weight: 600;

}
/* ........review section > text-section >p css style ............... */


.picture-macth {
    width: 400px;
    height: 450px;
    position: absolute;
    top: 440px;
    left: 121px;
    box-shadow: 0 8px 12px rgb(31 22 22 / 57%);
}



.picture-macth >img{
    width: 400px;
    height: 450px;
    position: absolute;
    box-shadow: 0 8px 12px  gray;
    
       
}




/* ........end the section............. 




 */
/* ............... start the video section ..............  */


.video-contener {
    width: 100%;
    margin-top: 773px;
}


.main-text {
    font-size: 45px;
    font-weight: 700;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}



.video-contain{
    width: 80%;
    min-height: 550px;
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 550px;
    background: rgba(139, 136, 136, 0.472);
    box-shadow: 5px 9px 13px rgba(1, 16, 16, 0.472);
}


.title{
    text-align: center;
     margin: 0px 0 10px 0;
     font-size: 28px;

}


.wining-text{
    margin: 0 25px;
    text-align: justify;
    font-size: 20px;
   
}
.containn{
    display: none;
}

/* .................. end the video section...............  */



 /* .................... start the news section..............  */



 .news-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0 0 0;
}

.new-contaner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  
    

}

.new-contain{
   display: flex;
   flex-direction: column;
   box-shadow: 5px 9px 12px lightslategrey;
   height: 500px;
   overflow: hidden;
   
   

}
.new-contain>img{
    width: 350px;
    min-height: 450px;
    border-radius: 25px;
    padding: 16px;
    

}


.new-title{
    margin: 20px 0 10px 16px;
    font-size: 24px;
    font-weight: 500;
    padding: 0 10px;


}


.button {
    text-decoration: none;
    padding: 10px 24px;
    margin-top: 0px;
    border-radius: 25px;
    background: #E02C6D;
    color: #ffff;
    text-align: center;
    width: 29%;
}


/* ........start the fotter section.............  */



.footer-pic img {
    margin-top: 2136px;
    width: 468px;
    height: 113px;
}
.icon-style {
    position: absolute;
    display: flex;
    left: 11%;
    top: 1981px;
}


.footer-text {
    font-size: 18px;
    color: rgba(119, 136, 153, 0.76);
    font-weight: 500;
    position: absolute;
    left: 34%;
    top: 2300px;
}



}


/* ................end media quary............................. */

















